@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --diva-pink: #FF69B4;
  --diva-blue: #000080;
  --diva-sky: #87CEEB;
  --diva-yellow: #FFD700;
}
.text-diva-pink {
  color: var(--diva-pink);
}

.bg-diva-blue {
  background-color: var(--diva-blue);
}

/* Add more utility classes as needed */
.text-diva-blue {
  color: var(--diva-blue);
}

.bg-diva-pink {
  background-color: var(--diva-pink);
}

.text-diva-sky {
  color: var(--diva-sky);
}

.bg-diva-sky {
  background-color: var(--diva-sky);
}

.text-diva-yellow {
  color: var(--diva-yellow);
}

.bg-diva-yellow {
  background-color: var(--diva-yellow);
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --diva-pink: #FF69B4;
  --diva-blue: #000080;
  --diva-sky: #87CEEB;
  --diva-yellow: #FFD700;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.delay-100 { animation-delay: 100ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }


/* 1. Prevent layout shifts during font loading */
html {
  font-display: optional;
}

/* 2. Ensure smooth animations */
* {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

/* 3. Prevent unwanted margin collapse */
.prevent-collapse {
  display: flow-root;
}

/* 4. Optimize for GPU */
.gpu {
  transform: translateZ(0);
  will-change: transform;
}

/* 5. Force height calculations */
.force-height {
  contain: size layout;
  content-visibility: auto;
}
